@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #ff014f; 
  --color-secondary: #e3e2dd;
}

html {
  scroll-behavior: smooth;
}